@import '~antd/dist/antd.css';

body {
  background-color: lightgray;
}

.site-layout-content {
  min-height: 280px;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
}

.form-background {
  padding: 25px 20px 10px 20px;
  background: #fff;
  border-radius: 5px;
}

.logo {
  width: 100%;
  max-width: 280px;
  padding: 20px;
}

.centered-text {
  text-align: center;
  align-items: center;
}
.btn {
  margin-top: 20px;
  border-radius: 5px;
}

.script-text {
  font-weight: bolder;
}

.page-logo {
  max-width: 600px;
  height: auto;
  padding: 20px;
}

.lists {
  max-width: 600px;
}

.list-header {
  background-color: cornflowerblue;
  color: #fff;
}

.fixed-footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
