@import '~antd/dist/antd.css';

body {
  background-color: lightgray;
  background-image: url('./assets/images/pexels-aleksandar-pasaric-3423860.jpg');
  background-position: center;
}

.site-layout-content {
  min-height: 280px;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
}

.mainheader {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-background {
  padding: 25px 20px 10px 20px;
  background: #fff;
  border-radius: 5px;
}

.logo {
  height: auto;
  width: 100%;
  max-width: 450px;
  padding: 30px;
  margin-top: 10px;
}

.centered-text {
  text-align: center;
  align-items: center;
}

.btn {
  margin-top: 20px;
  border-radius: 5px;
}

.script-text {
  font-weight: bolder;
}

.page-logo {
  max-width: 600px;
  width: 100%;
  height: auto;
  padding: 20px;
}

.lists {
  max-width: 600px;
}

.singlelist {
  max-width: 600px;
  min-width: 300px;
  background-color: #fff;
}

.listbackground {
  background-color: #fff;
  padding: 10px 40px 30px 40px;
  border-radius: 5px;
}

.fixed-footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 90px;
}

@media screen and (max-width: 992px) {
  .column {
    flex: 100% !important;
  }

  h2 {
    margin-top: 20px !important;
  }
}
